{% extends "report_base.html" %}
{% block title %}Adminstration: Tag Color Report{% endblock %}
{% block report_scripts %}
<script type="text/javascript">
    google.load('visualization', '1', {'packages':['piechart', 'annotatedtimeline']});
    google.setOnLoadCallback(drawChart);
    function drawChart(){
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Item Type');
        data.addColumn('number', 'Number Purchased');
        data.addRows([
            {% for i in cats['categorized'] %}
            ["{{i[0]}}", {{i[1]}}],
            {% endfor %}
        ]);
        
        var chart = new google.visualization.PieChart(document.getElementById('graph_div'));
        chart.draw(data, {width: 700, height: 300, is3D: true, title: 'Discount Breakdown'});
        
        var datao = new google.visualization.DataTable();
        datao.addColumn('string', 'Discount');
        datao.addColumn('number', 'Number Purchased');
        datao.addRows([
            {% for i in cats['ocategorized'] %}
            ["{{i[0]}}", {{i[1]}}],
            {% endfor %}
        ]);
        
        var charto = new google.visualization.PieChart(document.getElementById('other_graph_div'));
        charto.draw(datao, {width: 700, height: 300, is3D: true, title: 'Tag Color Breakdown'});
        
        
        var colordata = new google.visualization.DataTable();
        colordata.addColumn('date', 'Date');
        {% for i in colorDict.items()[0].keys() %}
        colordata.addColumn('number', '{{i}}');
        {% endfor %}
        colordata.addRows([
            {% for i in colorDict.keys() %}
            [{{i[0]}}, {{i[1]}}],
            {% endfor %}
        ]);

        var colorchart = new google.visualization.AnnotatedTimeLine(document.getElementById('color_graph'));
        colorchart.draw(colordata, {displayAnnotations:false, numberFormats: {2:"\u00A4@@"}});
        
        
        var discountdata = new google.visualization.DataTable();
        discountdata.addColumn('date', 'Date');
        discountdata.addColumn('number', 'Quantity Purchased');
        discountdata.addRows([
            {% for i in volume %}
            [{{i[0]}}, {{i[1]}}],
            {% endfor %}
        ]);

        var discountchart = new google.visualization.AnnotatedTimeLine(document.getElementById('discount_graph'));
        discountchart.draw(discountdata, {displayAnnotations:false, numberFormats: {2:"\u00A4@@"}});
    }
</script>
{% endblock %}
{% block desc %}Common Thread POS Admin::Reports:Tag Colors{% endblock %}
{% block report_content %}
        <div id="graph_div">
            <h3>Discount Breakdown</h3>
            <img src="http://chart.apis.google.com/chart?cht=p&amp;chs=700x300&amp;chd=t:{{categorized_data.categorized}}&amp;chl={{categorized_labels.categorized}}">
        </div>
        <div id="other_graph_div">
            <h3>Tag Color Breakdown</h3>
            <img src="http://chart.apis.google.com/chart?cht=p&amp;chs=700x300&amp;chd=t:{{categorized_data.ocategorized}}&amp;chl={{categorized_labels.ocategorized}}">
        </div>
        <div id="color_graph" style='width: 700px; height: 240px;'>
        </div>
        <div id="discount_graph" style='width: 700px; height: 240px;'>
        </div>
{% endblock %}
