{% extends "report_base.html" %}
{% block title %}Adminstration: Sales Tax Data{% endblock %}
{% block report_scripts %}
<script type="text/javascript">
    google.load('visualization', '1', {'packages':['annotatedtimeline']});
    google.setOnLoadCallback(drawCharts);
    function drawCharts(){
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Quantity Purchased');
        data.addRows([
            {% for i in volume %}
            [{{i[0]}}, {{i[1]}}],
            {% endfor %}
        ]);
        
        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('graphs'));
        chart.draw(data, {displayAnnotations:false, numberFormats: {2:"\u00A4@@"}});
    }
</script>
{% endblock %}
{% block desc %}Common Thread POS Admin::Reports:Sales Volumes{% endblock %}
{% block report_content %}
<div id="graphs" style="width:800; height:250">
</div>
{% endblock %}