%rebase super title=title, global_defs=global_defs
%try:
%if not selected:
%selected = dict()
%end
%except NameError:
%selected = dict()
%end
<html xmlns:py="http://genshi.edgewall.org" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="super.html" />
<div class="sandbar large">
  <ol>
    <li {{selected.get('sales', '')}}><a href="#">Sales</a></li>
    <li {{selected.get('reports', '')}}><a href="#">Reports</a></li>
    <li {{selected.get('inventory', '')}}><a href="#">Inventory</a></li>
    <li {{selected.get('admin', '')}}><a href="#">Admin</a></li>
    <li {{selected.get('developer', '')}}><a href="#">Developer</a></li>
  </ol>
</div>
<div class="container">
  %for flashed in __flash__:
  <div class="span-24 info">{{flashed}}</div>
  %end
  <div id="content" class="span-24">
    %include
  </div>
</div>
<div id="footer" class="sandbar" style="height: 100%; text-align: center; font-size: normal">
  Created by Silas Snider for Matthew's Quarter
</div>
</html>