<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Common Thread POS</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="staticapp/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="staticapp/static/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="staticapp/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="http://static.sse-pos.appspot.com/css/global.css" type="text/css" media="screen, projection">
    {% block scripts %}{% endblock %}
    {% endblock %}
  </head>
  <body id="test">
    <div class="sandbar large">
      <ol>
        <li class="selected"><a href="#">Sales</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Inventory</a></li>
        <li><a href="#">Admin</a></li>
        <li><a href="#">Developer</a></li>
      </ol>
    </div>
    <div class="container">
      <div id="headline" class="span-24">
        {% block desc %}Common Thread POS{% endblock %}
      </div>
      <div id="content" class="span-24">

      </div>
    </div>
    <div id="footer" class="sandbar" style="height: 100%; text-align: center; font-size: normal">
      Created by Silas Snider for Matthew's Quarter
    </div>
  </body>
</html>
            <h1></h1>
        </div>
        <div id="navigation">
            <span id="logo"><img src="/static/images/logoweb.png" /></span>
                <div id="userbox">
                    <div id="inner">
                        <div id="avatarName">
                            <img src="http://gravatar.com/avatar/0e1e958389de0d2354bb5ad80235c3fb?s=140" width="20" height="20" />
                            <span id="welcome">Welcome, Silas Snider</span>
                        </div>
                        <ul class="usernav">
                            <li><a href="/admin">Admin</a></li>
                            <li><a href="http://11.latest.sse-pos.appspot.com/">Old Version</a></li>
                            <li><a href="/logout">Logout</a></li>
                            <li><a href="/logout_pred">Logout with prejudice</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        <div id="tabmenu_wrapper">
            <ul class="tabmenu">
                {% block menu %}
                <li class="selected"><a href="/transaction">Start/Continue Sale</a></li>
                <li><a onclick="show_prices();" href="#">Show Pricelist</a></li>
                <li><a onclick="process_donation();" href="#">Donate</a></li>
                {% endblock %}
            </ul>
        </div>
        <div id="outer_wrapper">
            {% block content %}
            <h1>Common Thread POS</h1>
            {% endblock %}
        </div>
        <div id="footer">
            <p>Created by Silas Snider for Matthew's Quarter</p>
        </div>
    </body>
</html>