<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Common Thread Interface Test</title>
        <link type="text/css" href="/static/css/jquery-ui-1.8.2.custom.css" rel="Stylesheet" />
        <link type="text/css" href="/static/css/new_main.css" rel="Stylesheet" />
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
        <style type="text/css" media="screen">
            #outer_wrapper{
                text-align: center;
            }
            #outer_wrapper table{
                margin-left:auto;
                margin-right:auto;
                width:200px;
            }
        </style>
    </head>
    <body>
        <div id="abs">
            <h1>Login</h1>
        </div>
        <div id="navigation">
            <span id="logo"><img src="/static/images/logoweb.png" /></span>
        </div>
        <div id="outer_wrapper">
            {% if error %}
            <div class="ui-state-error">
                <h1>That email/password combination is not recognized!</h1>
            </div>
            {% endif %}
            <form method="post" action="/do_login" id="loginform">
                <input type="hidden" name="forward_to" value="{{forward_to}}" />
                <input type="submit" style="display: none;" />
                <table>
                    <tr><th><label for="email">Email: </label></th><td><input type="text" name="email" /></td></tr>
                    <tr><th><label for="password">Password: </label></th><td><input type="password" name="password" /></td></tr>
                </table>
                <a href="javascript:$('#loginform').submit()" class="bigbutton">Login</a>
            </form>
        </div>
        <div id="footer">
            <p>Created by Silas Snider for Matthew's Quarter</p>
        </div>
    </body>
</html>
