{% set title = 'Login' %}
{% extends "super.html" %}
{% block body %}
  <div class="container">
    <div class="span-24 large">&nbsp;</div>
    {% for flashed in _flash %}
    <div class="span-24 info">{{flashed}}</div>
    {% endfor %}
    <div class="span-24 large" style="height: 150px;">&nbsp;</div>
    <div class="span-24 large"><h1>Login</h1></div>
    <div class="span-16 push-6 large last" style="text-align: right;">
      <form method="POST" action="/do_login">
        Email Address: <input type="text" name="email" class="title"><br>
        Password: <input type="password" name="password" class="title"><br>
        <input type="submit" value="Login" class="title">
      </form>
    </div>
  </div>
{% endblock %}