{% extends "super.html" %}
{% block body %}
<div class="sandbar large">
  <ol>
    <li class="selected"><a href="#">{{title}}</a></li>
  </ol>
</div>
<div class="container">
  {% for flashed in _flash %}
  <div class="span-24 info">{{flashed}}</div>
  {% endfor %}
  <div id="content" class="span-24">
    {% block content %}
    {% endblock %}
  </div>
</div>
<div id="footer" class="sandbar" style="height: 100%; text-align: center; font-size: normal">
  Created by Silas Snider for Matthew's Quarter
</div>
{% endblock %}