{% set title = _org_name ~ ' Sales' %}
{% extends "base.html" %}
{% block content %}
  <div class="span-24" style="text-align: center">
    <input type="text" class="title" name="q">
  </div>
  <div class="span-20 push-2 last">
    {% for item_group in group(itemtypes, 4) -%}
      {% for item in item_group -%}
        {% if item == item_group[-1] -%}
          <div class="span-5 last">
        {%- else -%}
          <div class="span-5">
        {%- endif -%}
        {{item.name}}
        </div>
      {%- endfor %}
    {%- endfor %}
  </div>
  <div class="span-24">
    <p>Purchased items go here.</p>
  </div>
{% endblock %}