{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript" src="/static/js/daterangepicker.jQuery.js"></script>
<link rel="stylesheet" href="/static/css/ui.daterangepicker.css" type="text/css" />
<script type="text/javascript">
    function email_receipt(key){
        $('#spinner').show();
        email = window.prompt("To which email address should I send the receipt?");
        if (email == null){
            return;
        }
        $.post('/transaction/email_receipt', {key: key, email: email}, function(data) {
            $('#spinner').hide();
            data = eval('(' + data + ')');
            if (data.valid){
                alert('Success!')
            }else{
                alert('Error! Email could not be sent!');
            }
        });
    }
</script>
{% endblock %}
{% block content %}
<form method="GET" action="">
    Date Range: <input type="text" name="start_date" value="{{start_date}}" /> - <input type="text" name="end_date" value="{{end_date}}" /> <button onclick="submit();">Calculate Stats</button>
    <script type="text/javascript">
        $('input').daterangepicker({arrows:true});
    </script>
</form>
<img src="/static/images/ajax-loader.gif" id="spinner" style="display: none;" />
<ul>
    {% for i in transactions %}
    <li>{{i.total()}} <button onclick="email_receipt('{{i.key()}}')">Email a Receipt</button></li>
    {% endfor %}
</ul>
{% endblock %}