%rebase other_base title='Organization Admin', global_defs=__global_defs__, __flash__=__flash__
<h1>You're done!</h1>
<p>A user has been created per your request:</p>
<table>
  <tr><th>Username:</th><td>{{user.email}}</td></tr>
  <tr><th>Password:</th><td>{{password}}</td></tr>
  <tr><th>First Name:</th><td>{{user.first_name}}</td></tr>
  <tr><th>Last Name:</th><td>{{user.last_name}}</td></tr>
  <tr><th>Organization:</th><td>{{user.organization.name}}</td></tr>
</table>
<p> Click <a href="/org_admin">here</a> to return to the organization admin panel</p>