%rebase other_base title='Common Thread Setup', __flash__=__flash__
<h1>Welcome to SSE POS</h1>
<p>We need to gather some information to setup the initial database.</p>
<h3>Initial user</h3>
<p>This account will automatically be granted administrator privileges.</p>
<form method="POST" action="/setup/do_setup" style="text-align: center;">
  <fieldset>
    <legend>New User</legend>
    <label>Email Address: <input type="text" name="email" class="title"></label><br>
    <label>Password: <input type="password" name="password" class="title"></label><br>
    <label>First Name: <input type="text" name="first_name" class="title"></label><br>
    <label>Last Name: <input type="text" name="last_name" class="title"></label><br>
    <input type="submit" value="Create User" class="title">
  </fieldset>
</form>