<html xmlns:py="http://genshi.edgewall.org">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{title or 'Title Fail!'}}</title>
    <link rel="stylesheet" href="{{global_defs.STATIC_PREFIX}}css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{global_defs.STATIC_PREFIX}}css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{global_defs.STATIC_PREFIX}}css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="{{global_defs.STATIC_PREFIX}}css/global.css" type="text/css" media="screen, projection">
  </head>
</html>