<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Common Thread POS</title>
        <link type="text/css" href="/static/css/jquery-ui-1.8.2.custom.css" rel="Stylesheet" />
        <link rel="Stylesheet" href="/static/css/ui.selectmenu.css" type="text/css" /> 
        <link type="text/css" href="/static/css/new_main.css" rel="Stylesheet" />
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/js/ui.selectmenu.js"></script> 
        <script type="text/javascript" src="/static/gears/gears_init.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <script type="text/javascript" src="/static/js/transaction.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                enable_cache();
                $.get('/user_name?version=' + CONST_VERSION, function(data){
                    data = eval('('+ data +')');
                    if (data.valid){
                        $('#userbox').html(data.data);
                    }
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#effective_date').datepicker({ constrainInput: false, showButtonPanel: true, showOn: 'button'});
                $('select').selectmenu({style:'dropdown', maxHeight: "200"});
                $('a.delete_button').button();
            });
        </script>
    </head>
    <body>
        <div id="abs">
            <h1>Common Thread POS</h1>
        </div>
        <div id="navigation">
            <span id="logo"><img src="/static/images/logoweb.png" /></span>
            <div id="userbox">
                <div id="inner">
                    <div id="avatarName">
                        <img width="20" height="20" />
                        <span id="welcome">Welcome, Silas Snider</span>
                    </div>
                    <ul class="usernav">
                        <li><a href="/admin">Admin</a>
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/logout_pred">Logout with prejudice</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="outer_wrapper">
            <div id="trans_operations">
                <h2>Grand Total</h2>
                <div id="grand_total">$<span id="grand_total_contents">{{grand_total}}</span></div>
                <div style="padding-top: 10px">
                    <a href="javascript:finalize_trans();" class="bigbutton">Finalize</a>
                    <a href="javascript:cancel_trans();" class="bigbutton">Cancel</a>
                </div>
                <hr/>
                <h3>Manual Entry</h3>
                <div><applet id="text_field" name="TextBoxMain" width="150" height="25" archive="/static/misc/complicated.jar" code="com.silassnider.commonthread.pos.TextBoxMain.class" mayscript="true">
                </applet><img src="/static/images/ajax-loader.gif" id="spinner" style="display: none;" /></div>
                <hr/>
                {% if transaction.owner.is_admin %}
                <h3><a href="#">Effective date</a></h3>
                <div><input id="effective_date" type="text" name="effective_date" value="now" /><button onclick="date_change();">Change effective date</button></div>
                {% endif %}
                <hr/>
                <h3>Gift Certificate</h3>
                <div>$<input type="text" name="giftcert" id="giftcert" /> <button onclick="giftcert();">Use Gift Certificate</button></div>
                <hr/>
                <h3>Donation</h3>
                <div>$<input type="text" name="donate" id="donate" /> <button onclick="donate();">Donate</button></div>
                <hr/>
            </div>
            <div id="trans_list">
                <table id="item_list">
                    <tr id="head_row">
                        <th>Item #</th>
                        <th>Item Description</th>
                        <th>Price per</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>Total</th>
                    </tr>
                    {% for i in items %}
                    <tr id="{{ i.key() }}" class="{{ loop.cycle('odd', 'even') }}">
                        <td>{{ i.category_code }}</td>
                        <td>{{ i.category }}</td>
                        <td>${{ i.get_price() }}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{ i.get_discount() }}%</td>
                        <td>${{ i.total_str() }}</td>
                        <td><a class="delete_button" href="javascript:void_item('{{ i.key() }}')">void</a></td>
                    </tr>
                    {% endfor %}
                    <tr id="tax_row">
                        <td>&nbsp;</td>
                        <td>
                            <select id="item" name="item">
                                <option value="">Select an item</option>
                                {% for i in itemtypes %}
                                <option value="{{i.code}}">{{i.description}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td><input type="text" name="quantity" value="1" id="quantity" /></td>
                        <td>
                            <select id="color" name="color">
                                <option value="">Select a color</option>
                                {% for i in colors %}
                                <option value="{{i.code}}">{{i.color}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><button onclick="process_braindead();">Add</button></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div class="clearboth"></div>
        </div>
        <div id="footer">
            <p>Created by Silas Snider for Matthew's Quarter</p>
        </div>
    </body>
</html>