{% extends "base.html" %}
{% block title %}POS{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="/static/js/pos.js">
        </script>
        <script type="text/javascript">
            //Nothing, yet
        </script>
{% endblock %}
{% block content %}

<table>
    {%- for row in itemtypes|batch(3, None) -%}
    <tr class="pos_row">
        {%- for column in row %}
        {%- if column %}
        <td class="pos_button" onclick="product('{{column.code}}');"><a>{{column.description}}</a></td>
        {%- endif %}
        {%- endfor %}
    </tr>
    {%- endfor %}
</table>
{% endblock %}