{% set title = _user.organization.name ~ ' Admin Colors' %}
{% set selected = dict(admin='class="selected"') %}
{% set alt_selected = dict(color='class="selected"') %}
{% extends "admin/base.html" %}
{% block content %}
  <form method="POST" action="/admin/color/{{color.key()}}/commit"
      style="text-align: center;">
    <fieldset>
      <legend>Edit Color</legend>
        <label>Name:
          <input type="text" name="name" class="title" value="{{color.name}}">
        </label><br>
        <label>Shortcut code:
          <input type="text" name="code" class="title" value="{{color.code}}">
        </label><br>
        <label>Discount:
          <input type="text" name="discount" class="title" value="{{color.discount}}">
        </label><br>
        <input type="submit" value="Save Color" />
      </legend>
    </fieldset>
  </form>
{% endblock %}