{% set title = _user.organization.name ~ ' Admin Colors' %}
{% set selected = dict(admin='class="selected"') %}
{% set alt_selected = dict(color='class="selected"') %}
{% extends "admin/base.html" %}
{% block end_head %}
  <script type="text/javascript">
    $(function() {
      $(':checkbox').enableCheckboxRangeSelection();
    });
  </script>
{% endblock %}
{% block content %}
  {% if colors|list|length > 0 %}
  <form action="/admin/color/multi_edit" method="POST">
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>Color Name</th>
        <th>Shortcut Code</th>
        <th>Price</th>
        <th>Stati</th>
      </tr>
    {% for color in colors %}
      <tr>
        <td>
          <input type="checkbox" name="multi_edit" value="{{color.key()}}" />
          <a href="/admin/color/{{color.key()}}/edit">Edit</a>
        </td>
        <td>{{color.name}}</td>
        <td>{{color.code}}</td>
        <td>${{color.discount}}</td>
        <td>{{','.join(color.stati)}}</td>
      </tr>
    {% endfor %}
    </table>
    <select name="action">
      <option selected="selected">Select an action</option>
      <option>------------------------------</option>
      <option value="toggle_active">Toggle color active status</option>
      <option value="toggle_admin_active">Toggle admin hidden status</option>
      <option value="delete">Delete colors</option>
    </select>
    <input type="submit" value="Edit Colors" />
  </form>
  {% endif %}
  <form method="POST" action="/admin/color/create" style="text-align: center;">
    <fieldset>
      <legend>New Color</legend>
        <label>Color name: <input type="text" name="name" class="title"></label><br>
        <label>Color shortcut code: <input type="text" name="code" class="title"></label><br>
        <label>Color discount: <input type="text" name="discount" class="title"></label><br>
        <input type="submit" value="Create New Color" />
      </legend>
    </fieldset>
  </form>
{% endblock %}