{% set title = _user.organization.name ~ ' Admin Users' %}
{% set selected = dict(admin='class="selected"') %}
{% set alt_selected = dict(user='class="selected"') %}
{% extends "admin/base.html" %}
{% block content %}
  <form method="POST" action="/admin/user/{{user.key()}}/commit"
      style="text-align: center;">
    <fieldset>
      <legend>Edit User</legend>
        <label>Username:
          <input type="text" name="email" class="title" value="{{user.email}}">
        </label><br>
        <label>Last Name:
          <input type="text" name="last_name" class="title" value="{{user.last_name}}">
        </label><br>
        <label>First Name:
          <input type="text" name="first_name" class="title" value="{{user.first_name}}">
        </label><br>
        <label class="checkbox large"><input type="checkbox" name="superuser" value="True" {{user|has_stati('superuser')|checked}}>
          Superuser
        </label>&nbsp;&nbsp;
        <label class="checkbox large"><input type="checkbox" name="admin" value="True" {{user|has_stati('admin')|checked}}>
          Admin
        </label><br>
        <label class="checkbox large"><input type="checkbox" name="active" value="True" {{user|has_stati('active')|checked}}>
          Active
        </label><br>
        <input type="submit" value="Save User" />
      </legend>
    </fieldset>
  </form>
{% endblock %}