body{
    background-color: rgb(250,249,248);
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family:"Verdana",sans-serif;
    min-width: 900px;
}

select {
    width: 200px;
    height: 10px;
}

table{
    border-collapse:collapse;
}

div#outer_wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    padding: 1em;
    margin-top: 0;
    background-color: white;
    border-bottom: 1px solid #C7C6C5;
    border-left: 1px solid #C7C6C5;
    border-right: 1px solid #C7C6C5;
}
div#navigation {
    width: 100%;
    height: 160px;
    background-color: #ACDBD1;
}

#tabmenu_wrapper {
    width: 100%;
    background-color: #ACDBD1;
    border-bottom: 1px solid #2c5b51;
    z-index: 99;
/*    padding-bottom: 3px;*/
    margin: 0;
    padding: 0;
}

.tabmenu {
    display: inline-block;
    list-style-type: none;
/*    margin-top: 5px;*/
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 296px;
}

a {
    text-decoration: none;
    color: #3C4C48;
}

.tabmenu li {
    display: inline;
    font-weight: bold;
    margin: 0px 3px;
}

.tabmenu li a {
    background-color: #789892;
    padding: 2px 6px 0px;
}

li.selected a {
    background-color: white;
    border-bottom: none;
    border-top: 1px solid #2C5B51;
    border-left: 1px solid #2C5B51;
    border-right: 1px solid #2C5B51;
    color: #CC7254;
    z-index: 100;
}
div#userbox{
    float: right;
    height: 39px;
    display: block;
    background-color: white;
    border-bottom-left-radius: 7px 7px;
}
div#inner {
    padding: 10px 12px 0px 6px;
    height: 29px;
}

div#avatarName {
    display: inline;
    border-right: 1px solid black;
    padding-right: 15px;
}

div#avatarName img {
    border: thin solid white;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -3px;
}

ul.usernav {
    display: inline;
    margin: 0;
    padding: 0;
}

ul.usernav li {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 15px;
}
.separator {
    color: white;
}

div#footer{
    background-color: #3B2B20;
    color: white;
    padding:0;
    margin:0;
    clear: both;
    padding: 1em;
    text-align: center;
}

div#abs {
    position: absolute;
    left: 300;
    top: 40;
}

div#trans_list {
    float: left;
    padding-right: 10px;
}

div#trans_operations{
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-left: thin solid black;
}
.clearboth {
    clear: both;
}
.bigbutton{
    color: white;
    background-color: #CC7254;
    height: 36px !important;
    display: inline-block;
    line-height: 36px;
    margin-bottom: 17px;
    margin-left: 11px;
    padding: 1px 40px 1px 40px;
    border-radius: 10px 10px;
    font-weight: bold;
    font-size: larger;
}

a:hover.bigbutton{
    color: #CC7254;
    background-color: white;
    border: thin solid #CC7254;
    padding: 0px 39px 0px 39px;
}

div#grand_total {
    font-weight: bold;
    font-size: xx-large;
}
tr#tax_row td{
    border-top: thin solid #CC7254;
    border-bottom: thin solid #CC7254;
}

tr.odd td {
    background-color: #C5E6DC;
}

tr.even td {
    background-color: #F8F7DC;
}

.delete_button {
    color: #CC7254;
    cursor: hand;
    text-decoration: none;
}

.add_button {
    color: #3B2B20;
    font-size: 200%;
    cursor: hand;
    text-decoration: none;
}

.edit_button {
    color: #534C48;
    cursor: hand;
    text-decoration: none;
}

.clickable {
    cursor: hand;
}

.new_feature {
  cursor: hand;
  color: white;
  background-color: red;
}

.pos_button{
    background-color: #C5E6DC;
    color: #CC7254;
    vertical-align: center;
    text-align: center;
    width: 150px;
    height: 150px;
}

li[role=presentation]{
    font-weight: bold !important;
    font-size: 1.5em !important;
}