{% extends "base.html" %}
{% block title %}Adminstration: Main Menu{% endblock %}
{% block content %}
        <h1>Common Thread POS Admin</h1>
        <ul>
            <li><a href="/admin/category">Admin Item Types</a></li>
            <li><a href="/admin/color">Admin Colors</a></li>
            <li><a href="/admin/user">Admin Users</a></li>
            <li><a href="/admin/reports">Generate Reports</a></li>
            <li><a href="/admin/stats">Sales Statistics</a></li>
            <li><a href="/admin/export_users">Export User list</a></li>
			<li><a href="/admin/view_transactions">Transactions list</a></li>
			<li><a href="/admin/connect_instance">Connect to another instance</a></li>
        </ul>
{% endblock %}