<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{#
Common Thread Colors:

Blue: #C5E6DC
Tan: #F8F7DC
Red/Orange: #CC7254
Gray: #534C48
Dark Brown: #3B2B20
#}
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - Common Thread POS</title>
        <link type="text/css" href="/static/css/jquery-ui.css" rel="Stylesheet" />
        <link type="text/css" href="/static/css/main.css" rel="Stylesheet" />
        <script type="text/javascript" src="/static/js/jquery.js">
        </script>
        <script type="text/javascript" src="/static/js/jquery-ui.js">
        </script>
        <script type="text/javascript" src="/static/gears/gears_init.js"></script>
		<script type="text/javascript" src="/static/js/main.js">
		</script>
		<script type="text/javascript">
			$(document).ready(function(){
			    enable_cache();
				$.get('/user_name?version=' + CONST_VERSION, function(data){
					data = eval('('+ data +')');
					if (data.valid){
						$('#welcome').html(data.data);
					}
				});
			});
		</script>
        {% block scripts %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <table>
            <tr><td id="welcome"></td><td><a href="/transaction">Start/Continue Sale</a></td><td><a onclick="show_prices();" href="#">Show Pricelist</a></td><td><a onclick="process_donation();" href="#">Donate</a></td><td><a href="/admin">Administration Menu</a></td><td><a href="/logout">Logout</a></td><td><a href="/logout_pred">Logout with prejudice</a></td></tr>
        </table>
        {% block content %}
        <h1>Common Thread POS</h1>
        {% endblock %}
        <p>Created by Silas Snider <img src="/static/images/beard_icon.png" height="16" width="16"/></p>
    </body>
</html>
