{% macro cat_tr(category, conv, superuser, even_or_odd) -%}
{% if category.price != None %}
    <tr class="{{ even_or_odd }}" id="{{category.key()}}">
        <td>{{ category.description }}</td>
        <td>${{ conv(category.price) }}</td>
        <td>{{ category.code }}</td>
        <td>{{category.display}}</td>
        {% if superuser %}<td>{{category.disabled}}</td>{% endif %}
        {% if superuser %}<td><a onclick="delete_category('{{category.key()}}');" class="delete_button"  href="#">X</a></td>{% endif %}
        {% if superuser %}<td><a onclick="edit_row('{{category.key()}}');" class="edit_button" href="#">edit</a></td>{% endif %}
        <td><a onclick="toggle_display('{{category.key()}}');" class="edit_button">Toggle Displayed</a></td>
        {% if superuser %}<td><a onclick="toggle_disabled('{{category.key()}}');" class="edit_button">Toggle Disabled<a></td>{% endif %}
    </tr>
{% endif %}
{%- endmacro %}
{% if not standalone %}
{% extends "base.html" %}
{% block title %}Adminstration: Categories{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="/static/js/category_list.js">
        </script>
{% endblock %}
{% block menu %}
<li class="selected"><a href="/admin/category">Item Types</a></li>
<li><a href="/admin/color">Colors</a></li>
<li><a href="/admin/user">Users</a></li>
<li><a href="/admin/reports">Generate Reports</a></li>
<li><a href="/admin/export_users">Export User list</a></li>
<li><a href="/admin/view_transactions">Transactions list</a></li>
{% endblock %}
{% block desc %}Common Thread POS Admin::Categories{% endblock %}
{% block content %}
        <table>
            <tr><th>Category description</th><th>Price</th><th>Code</th><th>Displayed?</th></tr>
        {% for category in categories %}
        {{ cat_tr(category, conv, superuser, loop.cycle('odd', 'even')) }}
        {% endfor %}
            {% if superuser %}<tr id="add_new"><td colspan="3"><a onclick="add_category();" class="add_button"  href="#">+</a></tr>{% endif %}
        </table>
{% endblock %}
{% else %}
{{ cat_tr(category, conv, superuser, 'odd') }}
{% endif %}