{% extends "base.html" %}
{% block title %}Adminstration: Connect an instance{% endblock %}
{% block content %}
        <h1>Common Thread POS Admin</h1>
        <table>
            <tr><th>Connection Secret: </th><td>{{secret}}</td></tr>
			<form method="post" action="/admin/connect_instance">
				<tr><td><label for="host">Master host:</label><input type="text" name="host" value="{{host}}"/><input type="submit" /></td></tr>
			</form>
			<form method="post" action="/admin/connect_instance_initial">
			    <tr><td><input type="submit" value="Initial Sync" /></td></tr>
		    </form>
		</table>
{% endblock %}