{% extends "base.html" %}
{% block title %}Administration: Users: Editing {{ user.first_name }} {{user.last_name}}{% endblock %}
{% block menu %}
<li class="selected"><a href="/admin/category">Item Types</a></li>
<li><a href="/admin/color">Colors</a></li>
<li><a href="/admin/user">Users</a></li>
<li><a href="/admin/reports">Generate Reports</a></li>
<li><a href="/admin/export_users">Export User list</a></li>
<li><a href="/admin/view_transactions">Transactions list</a></li>
{% endblock %}
{% block desc %}Common Thread POS Admin::Edit User{% endblock %}
{% block content %}
        <h1>Common Thread POS::Edit {{ user.first_name }} {{user.last_name}}</h1>
        <form method="post" action="/admin/user/do_edit">
            <input type="hidden" name="key" value="{{user.key()}}" />
            <table>
                <tr><th>Email Address</th><td><input type="text" name="email" value="{{ user.email }}"/></td></tr>
                <tr><th>First Name</th><td><input type="text" name="first_name" value="{{ user.first_name }}"/></td></tr>
                <tr><th>Last Name</th><td><input type="text" name="last_name" value="{{ user.last_name }}"/></td></tr>
                <tr><th>Password</th><td><input type="password" name="password" value="****"/></td></tr>
                <tr><th>Is Administrator</th><td><select name="is_admin"><option {% if not user.is_admin %} selected="selected" {% endif %} value="False">No</option><option {% if user.is_admin %} selected="selected" {% endif %} value="True">Yes</option></select></td></tr>
                <tr><th>Is Developer</th><td><select name="is_developer"><option {% if not user.is_developer %} selected="selected" {% endif %} value="False">No</option><option {% if user.is_developer %} selected="selected" {% endif %} value="True">Yes</option></select></td></tr>
                <tr><td colspan="2"><input type="submit" value="Edit user" /></td></tr>
            </table>
        </form>
{% endblock %}