<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>
            Common Thread POS
        </title>
        <script type="text/javascript" src="/static/js/jquery.js">
        </script>
        <script type="text/javascript" src="/static/js/date.js">
        </script><!--[if IE]><script type="text/javascript" src="/static/js/bgiframe.js"></script><![endif]-->
        <script type="text/javascript" src="/static/js/datePicker.js">
        </script>
        <script type="text/javascript" src="/static/js/pos.js">
        </script>
    </head>
    <body>
        <h1>Common Thread POS</h1>
        <table>
            <tr><td><a href="/logout">Logout</a></td></tr>
        </table>
    </body>
</html>
