{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/static/js/daterangepicker.jQuery.js"></script>
<link rel="stylesheet" href="/static/css/ui.daterangepicker.css" type="text/css" />
{% block report_scripts %}{% endblock %}
{% endblock %}
{% block menu %}
<li class="selected"><a href="/admin/reports/tax">Sales Stats/Sales Tax Calculation</a></li>
<li><a href="/admin/reports/volume">Sales Volume</a></li>
<li><a href="/admin/reports/tag_color">Tag Colors</a></li>
{% endblock %}
{% block content %}
    <form method="GET" action="">
        Date Range: <input type="text" name="start_date" value="{{start_date}}" /> - <input type="text" name="end_date" value="{{end_date}}" /> <button onclick="submit();">Calculate Stats</button>
        <script type="text/javascript">
            $('input').daterangepicker({arrows:true});
        </script>
    </form>
{% block report_content %}{% endblock %}
{% endblock %}