{% extends "base.html" %}
{% block title %}Adminstration: Sales Tax Data{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/daterangepicker.jQuery.js"></script>
<link rel="stylesheet" href="/static/css/ui.daterangepicker.css" type="text/css" />
{% endblock %}
{% block content %}
        <h1>Common Thread POS Admin::Sales Tax Data</h1>
        <form method="POST" action="">
            Date Range: <input type="text" name="start_date" value="{{start_date}}" /> - <input type="text" name="end_date" value="{{end_date}}" /> <button onclick="submit();">Calculate Stats</button>
            <script type="text/javascript">
                $('input').daterangepicker({arrows:true});
            </script>
        </form>
        <table>
            <tr><th>Total Sales: </th><td>${{total}}</td></tr>
            <tr><th>Total Taxable Sales: </th><td>${{taxable}}</td></tr>
        </table>
        <h3>Breakdown</h3>
        <img src="http://chart.apis.google.com/chart?cht=p&amp;chs=500x200&amp;chd=t:{{categorized_data}}&amp;chl={{categorized_labels}}">
        <table>
            <tr><th colspan="5">Taxable items:</th></tr>
            {% for i in items %}
            <tr><td>{{i.category}}</td><td>{{i.discount}}% off</td><td>${{conv(i.price)}}</td><td>x {{i.quantity}}</td><td>=${{i.total()}}</td></tr>
            {% endfor %}
        </table>
{% endblock %}
