{% extends "base.html" %}
{% block title %}Start/Continue Sale{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="/static/js/transaction.js">
        </script>
        <script type="text/javascript">
            
        </script>
{% endblock %}
{% block content %}
    <h1>Common Thread POS</h1>
    <table><tr><td>
        <applet id="text_field" name="TextBoxMain" width="150" height="25" archive="/static/misc/complicated.jar" code="com.silassnider.commonthread.pos.TextBoxMain.class" mayscript="true">
        </applet><img src="/static/images/ajax-loader.gif" id="spinner" style="display: none;" />
        <table id="item_list">
            <tr id="head_row"><th>Item #</th><th>Item Description</th><th>Price per</th><th>Quantity</th><th>Discount</th><th>Total</th></tr>
            {% for i in items %}
            <tr id="{{ i.key() }}" class="{{ loop.cycle('odd', 'even') }}"><td>{{ i.category.code }}</td><td>{{ i.category.description }}</td><td>${% if i.category.description == 'MISC' %}{{i.misc_amount}}{% else %}{{ i.category.price }}{% endif %}</td><td>{{i.quantity}}</td><td>{{ i.get_discount() }}%</td><td>${{ i.total_str() }}</td><td><a class="delete_button" onclick="void_item('{{ i.key() }}')">void</a></td></tr>
            {% endfor %}
            <tr id="tax_row" style="border-top: black thin solid;"><th>Tax</th><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>0%</td></tr>
            <tr id="total_row"><th>Grand Total</th><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>${{ grand_total }}</td></tr>
            <tr><td><button onclick="cancel_trans();">Cancel</button></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td><button onclick="finalize_trans();">Finalize</button></td></tr>
        </table>
        </td>
        <td>
            <table style="border-left: solid black thin; border-collapse:collapse;">
                <tr><th>Items</th><th>Description</th><th>Code</th></tr>
                {% for i in itemtypes %}
                <tr onclick="enter_item('{{i.code}}')" class="{{loop.cycle('odd','even')}}"><td>&nbsp;</td><td>{{ i.description }}</td><td>{{ i.code }}</td></tr>
                {% endfor %}
                <tr><th>Tag Names</th><th>Color</th><th>Code</th></tr>
                {% for c in colors %}
                <tr onclick="enter_color('{{c.code}}')" class="{{loop.cycle('odd','even')}}"><td>&nbsp;</td><td>{{ c.color }}</td><td>{{ c.code }}</td></tr>
                {% endfor %}
            </table>
        </td>
    </tr></table>
{% endblock %}