{% extends "base.html" %}
{% block title %}Adminstration: Users{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="/static/js/user_list.js">
        </script>
{% endblock %}
{% block menu %}
<li><a href="/admin/category">Item Types</a></li>
<li><a href="/admin/color">Colors</a></li>
<li class="selected"><a href="/admin/user">Users</a></li>
<li><a href="/admin/reports">Generate Reports</a></li>
<li><a href="/admin/export_users">Export User list</a></li>
<li><a href="/admin/view_transactions">Transactions list</a></li>
{% endblock %}
{% block desc %}Common Thread POS Admin::Users{% endblock %}
{% block content %}
        <table>
            <tr><th>Email</th><th>Name</th></tr>
        {% for user in users %}
            <tr class="{{ loop.cycle('odd', 'even') }}" id="{{user.key()}}"><td>{{ user.email }}</td><td>{{ user.first_name }} {{user.last_name}}</td><td><a onclick="delete_color('{{user.key()}}');" class="delete_button">X</a></td><td><a class="edit_button" href="/admin/user/edit?key={{user.key()}}">edit</a></td></tr>
        {% endfor %}
            <tr id="add_new"><td colspan="3"><a href="/admin/user/add" class="add_button">+</a></tr>
        </table>
{% endblock %}
