/*
red cc7254
tan f8f7cd
green c5e6dc
brown 534c48

*/

tr.odd td {
    background-color: #C5E6DC;
}

tr.even td {
    background-color: #F8F7DC;
}

.delete_button {
    color: #CC7254;
    cursor: hand;
    text-decoration: none;
}

.add_button {
    color: #3B2B20;
    font-size: 200%;
    cursor: hand;
    text-decoration: none;
}

.edit_button {
    color: #534C48;
    cursor: hand;
    text-decoration: none;
}

.clickable {
    cursor: hand;
}

.new_feature {
  cursor: hand;
  color: white;
  background-color: red;
}

.pos_button{
    background-color: #C5E6DC;
    color: #CC7254;
    vertical-align: center;
    text-align: center;
    width: 150px;
    height: 150px;
}